.header{
    background-color: #1a1a1d;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 5px;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__optionLine{
    font-size: 13px;
    font-weight: 800;
}
.header__basket{
    display: flex;
    align-items: center;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}