.login__logo{
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login__container{
    width: 300px;
    display: flex;
    
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}
.login__container> h1{
    margin-bottom: 20px;
    font-weight: 500;
}
.login__container> form > h5{
    margin-bottom: 5px;
}
.login__container> form > input{
    margin-bottom: 10px;
    width: 98%;
    height: 30px;
    background-color: white;
}
.login__signbutton{
    background-color: #f0c14b;
    border: 1px solid;
    height: 30px;
    margin-top: 8px;
    width: 100%;
    margin-bottom: 20px;
}
.ogin__createbutton{
     margin-top: 30px;
}